---
import Header from '../components/Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Bienvenido a Recursos y Organización para la Clase, una plataforma diseñada para ayudarte a mantenerte al día con tus clases." /> 
		<meta property="og:url" content="https://dawi2.netlify.app/">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Daw2 - Inicio">
		<meta property="og:description" content="Bienvenido a Recursos y Organización para la Clase, una plataforma diseñada para ayudarte a mantenerte al día con tus clases.">
		<meta property="og:image" content="https://ogcdn.net/e4b8c678-7bd5-445d-ba03-bfaad510c686/v4/dawi2.netlify.app/Daw2%20-%20Inicio/https%3A%2F%2Fopengraph.b-cdn.net%2Fproduction%2Fimages%2Fed46b775-26de-430b-a9ac-0be164865512.svg%3Ftoken%3D-FjSrbgxzTO6lrwHRkKOA5nbRDUs23-HQw-p9r8dxs8%26height%3D150%26width%3D150%26expires%3D33267964062/og.png">
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="dawi2.netlify.app">
		<meta property="twitter:url" content="https://dawi2.netlify.app/">
		<meta name="twitter:title" content="Daw2 - Inicio">
		<meta name="twitter:description" content="Bienvenido a Recursos y Organización para la Clase, una plataforma diseñada para ayudarte a mantenerte al día con tus clases.">
		<meta name="twitter:image" content="https://ogcdn.net/e4b8c678-7bd5-445d-ba03-bfaad510c686/v4/dawi2.netlify.app/Daw2%20-%20Inicio/https%3A%2F%2Fopengraph.b-cdn.net%2Fproduction%2Fimages%2Fed46b775-26de-430b-a9ac-0be164865512.svg%3Ftoken%3D-FjSrbgxzTO6lrwHRkKOA5nbRDUs23-HQw-p9r8dxs8%26height%3D150%26width%3D150%26expires%3D33267964062/og.png">

		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body class="bg-slate-50 dark:bg-slate-950 min-h-screen">
		<Header />
		<main class="max-w-5xl mx-auto p-4 sm:p-6">
			<slot />
		</main>
	</body>
</html>

<style is:global>
	:root {
		--transition-speed: 0.2s;
	}
	html {
		font-family: system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	* {
		transition: all var(--transition-speed) ease-in-out;
	}
	
body {
  --sb-track-color: #cbd7dc;
  --sb-thumb-color: #1e293b;
  --sb-size: 14px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}
</style>

<script>
  const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme');
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark';
    }
    return 'light';
  })();

  if (theme === 'light') {
    document.documentElement.classList.remove('dark');
  } else {
    document.documentElement.classList.add('dark');
  }

  window.localStorage.setItem('theme', theme);
</script>
